/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lato", sans-serif;
    color: rgb(39,39,39);
}
/* shared styles */
.btn{
    padding: 14px 28px 14px 28px;
    background-color: rgb(229, 84, 115);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 13px;
    font-weight: 700;
}
.title{
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 16px;
    text-align: center;
}
.description{
    font-weight: 400;
    font-size: 12px;
    opacity: 0.6;
    margin-bottom: 32px;
    text-align: center;
}
/* header styles */

.header{
    max-width: 1280px;
    height: 570px;
    background: rgba(229, 84, 115, 0.1); 
    margin-bottom: 120px;
}
.header-container{
    display: flex;
    width: 965px;
    margin: 0 auto;
    gap: 65px;
}
.header-content{
    width: 483px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 21px;
}
.header-content-title{
    font-size: 50px;
    font-weight: 800;
}
.header-description{
    opacity: 0.6;
    font-size: 12px;
    font-family: 400;
}
.header-image{
    margin-top: 33px;
    width: 483px;
}

/* featired items section styles */
.featured-items{
    height: 525px;   
    width: 965px;
    margin: 0 auto;
    margin-bottom: 85px;
   
}
.content{
    height: 88px;
    text-align: center;
    margin-bottom: 32px;
}
.featured-flowers{
    display: flex;;
    height: 405px;
    gap: 10px;
}
.flower-1{
    width: 33%;
    height: 360px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 180px 180px 0px 0px;
}
.flower-1 img{
    height: 286px;
    width: 207px;
    margin: 73px 52px 0px 52px;
}
.flower-2{
    width: 33%;
    height: 360px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 180px 180px 0px 0px;
}
.flower-2 img{
    height: 248px;
    width: 248px;
    margin: 78px 35px 34px 35px;
}
.flower-3{
    width: 33%;
    height: 360px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 180px 180px 0px 0px;
}
.flower-3 img{
    height: 315px;
    width: 210px;
    margin: 45px 50px 0px;
}
figcaption{
    text-align: center;
    text-decoration: underline;
    margin-top: 21px;
}
/* service section styles */
.Service-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 215px;
    width: 965px;
    margin: 0 auto;
    margin-bottom: 85px;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 5px;
}
.Service-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.Service-container div img{
    height: 60px;
    width: 60px;
}
.Service-container div h5{
    color: rgba(39, 39, 39, 0.6);
    font-size: 16px;
    font-weight: 600;
}
/* sale banner styles */
.sale-banner-container{
    height: 415px;
    max-width: 1280px;
    padding: 67px 200px;
    background-color: rgba(229, 84, 115, 0.05);
    margin-bottom: 85px;
}
.sale-banner{
    display: flex;
    height: 281px;
}
.sale-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.sale-banner-image{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.sale-banner-image img{
    height: 281px;
    width: 213px;
}
/* instagram profile styles */
.instagram-image{
    width: 965px;
    margin: 0 auto;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.instagram-image img{
    height: 265px;
    width: 230px;
}
/* deals section styles */
.deals{
    height: 300px;
    width: 965px;
    margin: 0 auto;
    margin-bottom: 85px;;
    background-image: url(../images/latest-deals-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#email{
    height: 43px;
    width: 469px;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 11px;
    margin-right: 10px;
}
/* footer section styles */
.footer{
    height: 300px;
    max-width: 1280px;
    background-color: #111010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer-description{
    color: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}
.copyright{
    color: rgba(255, 255, 255, 0.4);
    font-size: 10px;
}